@import "values";

input {
  box-sizing: border-box;
  cursor: pointer;
  width: $itemWidth - 55;
  line-height: 100%;

  height: 100%;
  font-size: .9em;
  border: 0;

  ::-webkit-calendar-picker-indicator {
    display: none;
  }

  ::-webkit-input-placeholder {
    color: black;
    text-align: center;
  }

  ::-moz-placeholder {
    color: black;
    text-align: center;
  }

  :-ms-input-placeholder {
    color: black;
    text-align: center;
  }

  :-moz-placeholder {
    color: black;
    text-align: center;
  }
}
