$main-font: sans-serif;
$pas-green: #dff0d8;
body {
    font-family: $main-font;
}

.main {
    background-color: $pas-green;
    margin: 20px auto;
    padding: 20px;
    max-width: 1200px;
    .select-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 80%;
        margin: 20px auto;
        padding: 10px;
        .item {
            width: 300px;
        }
    }
    .search-results {
        width: 400px;
        margin: auto;
        td {
            padding: 10px;
            text-align: center;
        }
    }
}
