$main-font: sans-serif;
$pas-green: #dff0d8;
$pas-red: #f2dede;
$pas-yellow: #fcf8e3;
$pas-blue: #d9edf7;
$pas-gray: #f5f5f5;
$btn-blue: #337ab7;
$btn-green: #5cb85c;
$btn-orange: #f0ad4e;
$btn-red: #d9534f;
$btn-lblue: #5bc0de;
$stn-gray: #A9A9A9;

$itemWidth: 260px;
